/* main */

main h2 {
  /* settings for grid  */
  grid-column: span 12;

  text-align: center;
  font-size: 1.5rem;
}

.main__content {
  grid-column: span 12;

  /* settings for grid  */
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  margin-bottom: 4rem;
}

.subheader {
  margin-top: 1rem;
  padding: 1rem;
}



/* media */

@media (min-width: 44rem) {

  /* main */

  main {
      margin-bottom: 2rem;
  }

  .main__wrapper {
      /*
      settings for grid
      */
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      max-width: 62.5rem;
      align-items: center;
      
  }

  .main__content {
      max-width: 62.5rem;
      margin: 0 auto;
  }


}