/* form */

form {
  /*

settings for flex

*/

  grid-column: 1 / 13;

  display: flex;
  flex-direction: column;

  /* width: 100%; */
  /* max-width: 50rem; */
  /* margin: 10rem 0; */
  padding: 4rem 4rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  border-bottom: 2px solid black;
}

.title h1 {
  font-weight: 500;
}

/* input */

.input {
  /*

settings for flex

*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  height: 12rem;
  width: 100%;
  margin: 1rem 0 2rem 0;
}

.input_box {
  width: 50%;
  margin: 1.5rem 0 1rem 0;
}

.input_box input,
select {
  width: 90%;
  height: 2rem;
  padding-left: 1rem;

  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0.4rem;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.input_box input:focus,
.input_box select:focus {
  border-color: black;
}

.input_box input:not(:placeholder-shown) {
  border-color: black;
}

.input_box input:valid {
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.input_name {
  display: block;
  margin-bottom: 0.5rem;
}

.check_box {
  margin-top: 1rem;
}

.submit_button {
  /*

settings for flex

*/
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2rem;
  margin: 2rem 0;
}

.submit_button input {
  height: 100%;
  width: 50%;
  font-size: 1rem;
  text-align: center;

  border: 0;
  border-radius: 0.4rem;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.submit_button input:focus {
  border-bottom: 2px solid black;
}

.submit_button input:active {
  border-bottom: 0px solid #ccc;
}