/*

default settings

*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    /*
    
    settings for grid

    */
    display: grid;
    grid-template-rows: auto 1fr auto;

    min-height: 100%;
    width: 100%;
}

/*

header 

*/

header {
    height: 4rem;
    width: 100%;
    background-color: black;
}

header h1 {
    line-height: 4rem;
    color: white;
    margin-left: 1rem;
}

/*

main

*/

main {
    /*
    
    settings for flex

    */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form */

form {
    /*
    
    settings for flex

    */
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 50rem;
    padding: 4rem 4rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    border-bottom: 2px solid black;
}

.title h1 {
    font-weight: 500;
}

/* input */

.input {
    /*
    
    settings for grid

    */

    display: grid;
    grid-template-rows: repeat(5, 1fr);


    height: 12rem;
    width: 100%;
    margin: 1rem 0 2rem 0;
}

.input_box {
    /*
    
    settings for grid

    */    
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;

    /* width: 50%; */
    margin: 0.5rem 0 1rem 0;
}

.required_mark {
    margin-left: .2rem;
}

.error {
    margin-top: 1rem;
}

.error_name_show {
    display: flex;
}

.error_name_unshow {
    display: none;
}

.error_backgroud {
    background-color: pink;
}

.input_box label {
    margin-top: 0.2rem;
    text-align: center;
}


.input_box input,
select {
    width: 100%;
    height: 2rem;
    padding-left: 1rem;

    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.4rem;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.input_box input:focus,
.input_box select:focus {
    border-color: black;
}

.input_name {
    display: block;
    margin-top: 0.4rem;
}

.required_mark {
    margin-top: 0.5rem;
}

.check_box {
    margin-top: 1rem;
}

.submit_button {
    /*
    
    settings for flex

    */
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2rem;
    margin-top: 10rem;
}

.submit_button input {
    height: 100%;
    width: 50%;
    font-size: 1rem;
    text-align: center;

    border: 0;
    border-radius: 0.4rem;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.submit_button input:focus {
    border-bottom: 2px solid black;
}

.submit_button input:active {
    border-bottom: 0px solid #ccc;
}

/*

footer

*/

.footer {
    text-align: center;
}

.footer a {
    color: black;
    outline: none;
}

.footer a:focus {
    display: inline-block;
    background-color: black;
    color: white;
}

@media screen and (max-width: 40rem) {
    form {
        max-width: 100%;
    }

    .one_row {
        display: flex;
        
    }

    .title h1 {
        text-align: center;
    }

    .input_box {
        /*
    
        settings for grid

        */
        display: grid;
        grid-template-columns: 1fr;


        margin: 0;
        width: 100%;
        text-align: center;
    }

    .input_box label {
        margin-bottom: 0.5rem;
    }

    .required_mark {
        margin-left: 0rem;
    }

    .list_check {
        margin-top: 2.5rem;
    }

    .submit_button {
        margin-top: 18rem;
    }
}
