/* button */

.button__submit {
  height: 2rem;
  border: 2px solid black;
  font-size: 1.2rem;
  cursor: pointer;
}

.button__adjust {
  margin-top: 0.2rem;
}

.button__cancel {
  height: 66px;
  width: 30%;
  border: 2px solid black;
  border-radius: 25px;
  background-color: lightcoral;
  font-size: 1.2rem;
  cursor: pointer;
}